<%= @game.active_player.name %> attacked <%= @game.inactive_player.name %>!
<%= @game.inactive_player.name %>'s HP = <%= @game.inactive_player.health %> <br>
<form action='/attack' method='post'>
  <input type='submit' value='Ok'>
</form>
